.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	margin: 0px;
}

.login-form-background {
    background-color:rgba(255,255,255,0.6);
    border-radius: 25px;
    padding-bottom: 15px;
}

.guest-container{
    background: url("/images/friends.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display:table;
    width: 100%;
    padding: 0;
    color:#DD4B39;
}


.centered-row {
    height: 100%; 
    display:table-cell; 
    vertical-align: middle;
}

.btn-google {
	background-color: #DD4B39;
	color: #fff;
}

.block {
    display: block;
}

.user-list-avatar {
    max-width: 75px;
    max-height: 75px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.user-page-avatar {
    max-width: 100%;
    height: auto;
}

.user-page-avatar-item {
    width: 200px;
    min-height: 200px;
    max-height: auto;
    margin: 0 auto;
}

 .navbar-collapse.in {
    overflow-y: hidden;
}
