.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	margin: 0px;
}

.login-form-background,
.registration-form-background {
    background-color: #f5f5ef;
    border: 5px solid;
    border-radius: 15px;
    border-color: #f5f5ef;
    margin-top: 80px;
    
}

.add-fade-form {
    background-color: #f5f5ef;
    border: 5px solid;
    border-radius: 15px;
    border-color: #f5f5ef;
    margin-bottom: 20px;
}

.btn-google {
	background-color: #DD4B39;
	color: #fff;
}

.block {
    display: block;
}

.user-list-avatar {
    max-width: 75px;
    max-height: 75px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.user-page-avatar {
    max-width: 100%;
    height: auto;
}

.user-page-avatar-item {
    width: 200px;
    min-height: 200px;
    max-height: auto;
    margin: 0 auto;
}
