<!--style="margin: 0; padding:0;white-space: pre"-->
<md-card layout="column" md-colors="{background: 'primary-100-0.25'}">
    <md-card-content>
        <div class="post-content">
            {{$ctrl.post.content}}
        </div>
    </md-card-content>
    <md-card-actions class="post-buttons" layout="row" layout-align="end center">
        <span style="font-size: 11px">{{$ctrl.post.creator.name}} {{$ctrl.post.createdAt | date:'@ h:mma'}}</span>
        <md-button 
            class="md-icon-button" 
            aria-label="Favorite"
            ng-class="{unliked: !$ctrl.isLiked, liked: $ctrl.isLiked}"
            ng-click="$ctrl.likeOrUnlike($ctrl.post)"
        >
            <ng-md-icon 
                icon="favorite" 
                size="20"
            ></ng-md-icon>
        </md-button>

        <span style="font-size: 11px">{{$ctrl.post.likedBy.length}} likes</span>

        <md-button 
            class="md-icon-button delete-post" 
            aria-label="Delete"
            ng-click="$ctrl.deletePost($ctrl.post._id)"
            ng-if="$ctrl.canDeletePost()"
        >
        <md-tooltip md-delay="400" md-direction="top">
                Delete post
        </md-tooltip>
            <ng-md-icon 
                icon="delete_forever" 
                size="16"
            ></ng-md-icon>
        </md-button>

    </md-card-actions>
</md-card>
