<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <span>{{$ctrl.post.heading}}</span>
            <button 
                class="btn text-right btn-danger" 
                ng-click="$ctrl.deletePost($ctrl.post._id)" 
                ng-if="$ctrl.canDeletePost()"
            >
                X
            </button>
            <span class="pull-right">
                {{$ctrl.post.createdAt | date:'dd/MM/yyyy @ h:mma'}}
            </span>
            <span class="pull-right">
                <a ui-sref="app.user({id: $ctrl.post.creator._id})">
                    {{$ctrl.post.creator.name}} -
                </a>
            </span>
        </div>
        <div class="panel-body">
            <p>{{$ctrl.post.content}}</p>
            <div class="pull-right">
                <i
                    ng-class="{unliked: !$ctrl.isLiked, liked: $ctrl.isLiked}"
                    class="fa fa-heart"
                    ng-click="$ctrl.likeOrUnlike($ctrl.post)"
                    aria-hidden="true"
                ></i>
                <span class="label label-success">{{$ctrl.post.likedBy.length}}</span>
            </div>
        </div>
    </div>
</div>
