<div layout="column">
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-accent" ng-click="$ctrl.showDialog($event)">+ Add new post</md-button>
    </div>
    <div ng-repeat="post in $ctrl.posts | orderBy: '-createdAt'">
        <post 
            post="post" 
            delete-post="$ctrl.deletePost" 
            user="$ctrl.creator" 
            like-or-unlike="$ctrl.likeOrUnlike"
            is-liked="$ctrl.isLiked(post)"
        ></post>
    </div>
</div>

