<div class="container">
    <div class="row">

        <div class="col-md-4">
            <img ng-src="{{profilePublicCtrl.user.avatar}}" class="img-circle" alt="Avatar" width="300" height="300">
            <p>public profile</p>
            <h2 class="well">{{profilePublicCtrl.user.name}}</h2>
            <h3 class="well well-sm">Information:</h3>
            <p class="well well-sm">Birth Date:</p>
            <p class="well well-sm">Location:</p>
        </div>

        <div class="col-md-6">
            <h2>Panel Heading</h2>
            <div class="panel panel-default">
                <div class="panel-heading">Panel Heading</div>
                <div class="panel-body">
                    <p>Panel Content</p>
                    <p>Panel Content</p>
                    <p>Panel Content</p>
                    <p>Panel Content</p>
                    <p>Panel Content</p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <h2>Column</h2>
            <div class="well well-sm">
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="jumbotron text-center">
        <a class="up-arrow" href="#">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>
</footer>
