<div class="container">
    <div class="row">

        <div class="col-md-4">
            <img 
                ng-src="{{userCtrl.user.avatar || '/images/avatar.jpeg'}}" 
                class="img-circle user-page-avatar" 
                alt="Avatar" 
            />
            <p>public profile</p>
            <h2 class="well">{{userCtrl.user.name}}</h2>
            <follow-count 
                class="well well-sm block" 
                followers="userCtrl.followers.length" 
                following="userCtrl.user.following.length"
                user-id="userCtrl.user._id"
            ></follow-count>
            <p class="well well-sm">Birth Date:</p>
            <p class="well well-sm">Location:</p>
        </div>

        <div class="col-md-6">
             <posts-list posts="userCtrl.posts" 
                         creator="userCtrl.currentUser" 
                         owner="userCtrl.user"
                         currentUser="userCtrl.currentUser"
                         >
             </posts-list>
        </div>

        <div class="col-md-2">
            <h2>Column</h2>
            <div class="well well-sm">
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="jumbotron text-center">
        <a class="up-arrow" href="#">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>
</footer>
