<!--<button 
    class="btn btn-success"
    ng-click="$ctrl.accept()"
    ng-disabled="!$ctrl.canAccept()"
>
    Accept
</button>

<button 
    class="btn btn-danger" 
    ng-click="$ctrl.decline()"
    ng-disabled="!$ctrl.canDecline()"
>
    Decline
</button>-->
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group">
        <button 
        class="btn btn-success"
        ng-click="$ctrl.accept()"
        ng-disabled="!$ctrl.canAccept()"
        >
            Accept
        </button>
    </div>
    <div class="btn-group">
        <button
            class="btn btn-danger" 
            ng-click="$ctrl.decline()" 
            ng-disabled="!$ctrl.canDecline()">
            Decline
        </button>
    </div>
</div>