<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h3 class="text-center">Add name to search</h3>
        <form ng-submit="searchUsersCtrl.searchUsers()">
            <div class="form-group">
                <div>
                    </span>
                    <input type="text" placeholder="name" class="form-control" ng-model="searchUsersCtrl.input.searchText">
                </div>
            </div>

            <div class="text-center form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-search"></span></i>Search</button>
            </div>
        </form>

        

        
        
    </div>

    <table class="table table-striped">

            <tr ng-repeat="foundUser in searchUsersCtrl.foundUsers">
                <td>{{foundUser._id}}</td>
                <td>{{foundUser.name}}</td>

            </tr>

    </table>
</div>