<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="user-page-avatar-item">
                <img 
                ng-src="{{profileCtrl.user.avatar || '/images/avatar.jpeg'}}" 
                class="user-page-avatar" 
                alt="Avatar" 
                width="300" 
                height="300" 
            />
            </div>
            
            <p 
                class="text-muted" 
                ng-hide="profileCtrl.shouldShowInput" 
                ng-click="profileCtrl.shouldShowInput = true"
            >
                Change avatar
            </p>

            <div 
                class="form-inline" 
                ng-show="profileCtrl.shouldShowInput" 
                ng-class="{'has-error': profileCtrl.errorUrl}"
            >
                <input 
                    class="form-control" 
                    ng-model="profileCtrl.input.url" 
                    placeholder="Enter avatar url" 
                    ng-change="profileCtrl.errorUrl = false"
                    ng-keypress="profileCtrl.changeAvatarByKeypress($event)" 
                />
                <button 
                    class="btn btn-success" 
                    ng-click="profileCtrl.changeAvatar()"
                >
                    Save
                </button>
                <button 
                    class="btn btn-default" 
                    ng-click="profileCtrl.cancelUrlInput()"
                >
                    Cancel
                </button>
            </div>

            <h2 class="well">{{profileCtrl.user.name}}</h2>
            <follow-count 
                class="well well-sm block" 
                followers="profileCtrl.followers.length" 
                following="profileCtrl.user.following.length"
                user-id="profileCtrl.user._id"
            ></follow-count>
            <p class="well well-sm">Birth Date:</p>
            <p class="well well-sm">Location:</p>
        </div>

        <div class="col-md-6">
            <posts-list 
                posts="profileCtrl.posts" 
                owner="profileCtrl.user" 
                creator="profileCtrl.user"
            />
        </div>

        <div class="col-md-2">
            <h2>Column</h2>
            <div class="well well-sm">
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
                <p>Column Content</p>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="jumbotron text-center">
        <a class="up-arrow" href="#">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>
</footer>
