<md-card ng-show="$ctrl.users.length" flex-gt-sm="33" flex-xs="100" md-colors="{background: 'primary-100-0.10'}">
    <md-card-content>
        <md-list layout-padding>
            <md-list-item ng-repeat="user in $ctrl.users">
                <img ng-src="{{user.avatar || '/images/avatar.jpeg'}}" class="md-avatar" />
                <div>
                    <a ui-sref="app.user({id: user._id})">
                        <h4>{{user.name}}</h4>
                    </a>
                </div>
                <span flex></span>
                <follow-buttons 
                    user="user" 
                    current-user="$ctrl.currentUser"
                ></follow-buttons>
                <md-divider md-inset ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card-content>
<md-card>