<div class="container-fluid">
    <div class="row" ng-repeat="user in $ctrl.users">
        <div class="col-md-3">
            <a ui-sref="user({id: user._id})">
                <img 
                    class="user-list-avatar img-circle" 
                    ng-src="{{user.avatar || '/images/avatar.jpeg'}}" 
                />
            </a>
        </div>
        <div class="col-md-6">
            <a ui-sref="user({id: user._id})">
                <p>{{user.name}}</p>
            </a>
        </div>
        <div class="col-md-3">
            <follow-buttons 
                user="user" 
                current-user="$ctrl.currentUser"
            ></follow-buttons>
        </div>
    </div>
</div>
