<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BeFriends</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a ui-sref="app.profile"> Profile</a></li>
        <li><a ui-sref="app.search-users">Search Users</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="app.login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li><a href="/logout"> LogOut</a></li>        
      </ul>
    </div>
  </div>
</nav>

<div>
    <h1>Welcome to Best friends social network!!!!</h1>
</div>
