<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as navbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button 
                type="button" 
                class="navbar-toggle" 
                ng-click="navbarCtrl.isNavCollapsed = !navbarCtrl.isNavCollapsed"
            >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BeFriends</a>
        </div>
        <div 
            class="collapse navbar-collapse" 
            uib-collapse="navbarCtrl.isNavCollapsed"
            ng-click="!navbarCtrl.isNavCollapsed && (navbarCtrl.isNavCollapsed = !navbarCtrl.isNavCollapsed)"
        >
            <ul class="nav navbar-nav">
                <li><a ui-sref="app.profile"> Profile</a></li>
                <li><a ui-sref="app.search-users">Search Users</a></li>
                <li><a ui-sref="app.visit-stats">Visit stats</a></li>
                <li><a ui-sref="app.events">Events</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"> LogOut</a></li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view></div>
